*{
    margin: 0;
    padding:0;

}

body{
    font-size: 15px;
}
.flex-container{
    display: flex;
    width: 100%;
}

.acessibilidade{
    background-color: gainsboro;
    font-weight:bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.atalhos, .links_access{
    list-style: none;
    display: inline-flex;
    padding: 5px;
}
.atalhos li, .links_access li{
    
    padding-left: 10px;
}

.links_access{

    margin-left: 60%;
}


#acessibilidade{
	width: 60%;
	margin: 4%;
    font-weight:bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	text-align: center;
	height: auto;
	color: black;
    text-decoration: none;
}

#acessibilidade p{
	text-align: justify;
	line-height: 150%;
}



#topo{
    width: 100%;
    background-color:azure;
    justify-content: center;
    height: auto;
    
}

#topo a{
    text-align: center;
}

#first{
    position: left;
    width: 180%;
}
#second{
    position: right;
    width: 85%;
}

/*Navegação*/

nav{
    width: 90%;
    background-color: gainsboro;
    height: auto;
    justify-content: center;
}

.menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-around ;
}

.menu li{
    position: relative;
    padding: 20px 30px;
}
.menu li a{
    color:black;
    text-decoration: none;
    font-weight:bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.menu li a:hover{
    color: blue;
    transition: 0.5s;
}

.menu li ul{
    display: none;
    list-style: none; 
    position: absolute;
    list-style: none;
    top: 50px;
    left: 0;
    background-color: gainsboro; 
}

.menu li:hover ul{
    display: block;
    
}

.menu li ul li{
    display: block;
    width: 170px;
}

/* ocultar menu*/
label[for="bt_menu"], #bt_menu{

    display: none;
}

/*Conteudo*/

#conteudo{
    min-height: 700px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.5em;

}

#conteudo h1{
    text-align: center;
    padding-top: 2%;
    font-size: 2em;
}

section{
    padding: ;
}

#conteudo p, ol, h2, img{
    padding:2% 5%;
    text-align: center;

}

/*Formulario*/
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

fieldset{
    width: 25%;
    padding: 40px;
    margin: auto;
    border: none;
}

label,legend, textarea{
    font-size: 0.7em;
    border: none;
    padding: 10px;
    align-items: center;
    text-align: center;
    
}

input, select{
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    
}

button{

    width: 45%;
    padding: 10px;
   
}

.required::after{
    content:" *";
    color: red;
}

video{
    width: 40%;
    height: auto;
    align-self: center;
    margin: 30%;
    margin-top:0%;
    margin-bottom: 0%;
}

audio{
    align-self: center;
}

#rodape{
    justify-content: center;
    text-align: center;
    background-color:gainsboro ;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: black ;
    font-size:1em;
    align-items: center;
    height: 80px;
}


/*media queries barra de acessibilidade*/
@media screen and (max-width: 1980px){

    .links_access{

        margin-left: 59%;
    }
    
}

@media screen and (max-width: 1345px){

    .links_access{

        margin-left: 25%;
    }
    
}

@media screen and (max-width: 1024px){

    .links_access{

        margin-left: 20%;
    }
    
}

@media screen and (max-width: 960px){

    .links_access{

        margin-left: 12%;
    }
    #acessibilidade{
        text-align: center;
    }
    
}

@media screen and (max-width: 870px){
    
    .atalhos{
        display: none;
    }
    .links_access{

        margin-left: 7%;
    }
    #acessibilidade{
        text-align: center;
    }
    
}

@media screen and (max-width: 430px){
    
    .atalhos{
        display: none;
    }
    .links_access{
        margin-left: 4%;
    }
    #acessibilidade{
        text-align: center;
    }
    
}

@media screen and (max-width: 300px){
    
    .atalhos{
        display: none;
    }
    .links_access{
        margin-left: 1%;
    }
    #acessibilidade{
        text-align: center;
    }
}

@media screen and (max-width: 760px){
    nav{
        justify-content: left;
    }
    .menu{
        display: none;
    }
    label[for="bt_menu"]{
        display: block;
        margin: 2%;
    }
}

#bt_menu:checked ~ .menu{
    display: block;
}

/*.menu li{
    padding: 10% 1px;
}*/

.menu li ul {
    position: relative;
}

